@model IEnumerable<AuctionModule.Models.Auction>
@{
    ViewBag.Title = "Index";

    var auction = new AuctionModule.Models.Auction()
    {
        Title = "Mobiles",
        Description = "This is Smart Mobile For You",
        StartPrice = 1.00m,
        CurrentPrice = null,
        StartTime = DateTime.Now,
        EndTime = DateTime.Now.AddDays(7)
    };
}
@Html.Partial("~/Views/Shared/_Slider.cshtml")
@*<div class="auction">
        <h3>@auction.Title</h3>
        <div class="detail">
            <p>Starting Time:@auction.StartTime.ToString("g")</p>
            <p>End Time:@auction.EndTime.ToString("g")</p>
            <p>Start Price:@auction.StartPrice.ToString("C")</p>
            <p>
                Start  Price:
                @if (auction.CurrentPrice == null)
                {
                    @:[No Bid]
                }
                else
                {
                    <span>@auction.CurrentPrice.Value.ToString("C")</span>
                }
            </p>
            @if (auction.ImageUrl != null)
            {
                <img src="@Url.Content(auction.ImageUrl)" alt="@auction.Title" />
            }
            <div class="description">
                @auction.Description
            </div>
        </div>
    </div>*@
@foreach (var item in Model)

{

    @Html.Partial("_AuctionSummery", item)

}
